.Search {
  margin: 60px auto;
  max-width: 800px;
}
.Weather {
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
}
.Description {
  text-transform: capitalize;
}
