.Search {
  font-family: sans-serif;
  text-align: center;
}
.Results {
  font-family: sans-serif;
  text-align: center;
}
ul {
  list-style-type: none;
}
.Description {
  text-transform: capitalize;
}
